<header class="w-full bg-white">
    <div class="flex border-1 mb-8 mt-8 items-center justify-content-between flex-wrap"
        style="margin-right: 300px; margin-left: 300px; border-radius: 80px; border-color:rgba(17, 17, 19, 0.2); box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);">
        <div class="flex pl-6 py-3">
            <img src="https://cdn.dribbble.com/userupload/44717465/file/ab89e2e87555dcc77ff475c284c3dd76.png?resize=752x&vertical=center"
                alt="img" class="w-4rem" style="border-radius: 4px;">
        </div>
        <div class="flex align-items-center">
            <nav class="flex gap-6  ">

                <button (click)="scrollToSection('home')" class=" text-xl  text-decoration-none border-none bg-white  hover:underline"
                    style="color:black">Home</button>

                <button class="text-xl no-underline bg-white border-none hover:underline " style="color:black">About Me</button>


                <button class="text-xl no-underline bg-white border-none  hover:underline" style="color:black">Our Space</button>

                <button class="text-xl no-underline bg-white border-none hover:underline" style="color:black">Menu</button>

                <button class="text-xl no-underline bg-white border-none hover:underline" style="color:black">Review</button>

            </nav>
        </div>
        <div class="flex pr-6 py-3 align-items-center">
            <i class="text-2xl pi pi-map-marker"> </i>
        </div>
    </div>
</header>