<header class="w-full bg-white p-4">
    <div class="flex items-center justify-content-center border-1 m-8" style ="border-radius: 80px;"> 
        <div>
            <img src="/assets/logo/79970.jpg" alt="">
        </div>
        <nav class="flex gap-8 pt-6 pb-6 text-2xl list-none ">
                <li>
                    <a href="" class="no-underline text-decoration-none  hover:underline"style="color:black">Home</a>
                </li>
                <li>
                    <a href="" class="no-underline hover:underline"style="color:black">About Me</a>
                </li>
                <li>
                    <a href="" class="no-underline hover:underline"style="color:black">Our Space</a>
                </li>
                <li>
                    <a href="" class="no-underline hover:underline"style="color:black">Menu</a>
                </li>
                <li>
                    <a href="" class="no-underline hover:underline"style="color:black">Review</a>
                </li>
               
        </nav>

    </div>

</header>