<header class="w-full bg-white">
    <div class="flex border-1 m-8 items-center justify-content-between flex-wrap" style="border-radius: 80px;">
        <div class="flex pl-8 py-3">
            <img src="https://cdn.dribbble.com/userupload/44717465/file/ab89e2e87555dcc77ff475c284c3dd76.png?resize=752x&vertical=center"
                alt="img" class="w-4rem" style="border-radius: 4px;">
        </div>
        <div class="flex align-items-center">
            <nav class="flex gap-8 text-2xl list-none">
                <li>
                    <a href="" class="no-underline text-decoration-none  hover:underline" style="color:black">Home</a>
                </li>
                <li>
                    <a href="" class="no-underline hover:underline" style="color:black">About Me</a>
                </li>
                <li>
                    <a href="" class="no-underline hover:underline" style="color:black">Our Space</a>
                </li>
                <li>
                    <a href="" class="no-underline hover:underline" style="color:black">Menu</a>
                </li>
                <li>
                    <a href="" class="no-underline hover:underline" style="color:black">Review</a>
                </li>
            </nav>
        </div>
        <div class="flex pr-8 py-3">
            <i class="pi pi-map-marker w-4rem" style="border-radius: 4px;"> </i>
        </div>
    </div>
</header>